* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(189, 130, 245);
    font-family: Arial, Helvetica, sans-serif;
}

/* apply styles to <heder> */

header {
    padding: 20px 35px;
    background-color: rgb(189, 130, 245);
    display: flexbox;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: normal;
    font-size: 1.55vw;
}

.intro {
    margin: 0 auto 30px auto;
    background: rgb(189, 130, 245);
    color: #fce138;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-title {
    font-size: 55px;
    color: #fce138;
    border-bottom: 3px solid;
    float: right;
  }
  
  .primary-border {
    border-color: #fce138;
  }

.my-bio img {
    width: 35%;
    float: left;
}

.my-bio {
    padding: 35px;
    float: left;
    width: 65%;
}

section {
    padding: 20px 35px;
    background-color: rgb(189, 130, 245);
    display: flexbox;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section ol {
    font-weight: bold;
    font-size: 200px;
    color: #fce138;
    margin: 0;
}

.section a {
    text-decoration: none;
    color: #fce138;
}

.section nav {
    float: right;
}

.section nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.section nav ul li img {
    margin: 0 30px;
    font-weight: normal;
    font-size: 1.55vw;
}

/* Contact Info Style Starts */

.contact {
    background: rgb(189, 130, 245);
}

.contact h2 {
    color: #fce138;
}

.contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin: 30px 0 0 60px;
    color: #fce138;
}

.contact-info h3 {
    color: #fce138;
    font-size: 40px;
}

.contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 32px;
    font-style: normal;
    color: white;
}

